# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Master_Project/Adjacency matrix/adjacency_gargantuan.txt
Master_Project/Adjacency matrix/adjacency_gargantuan_v2.txt
*.py
*.dvi
Master_Project/Report/background.log
*.dvi
Master_Project/Report/template_report.log
*.bbl
*.blg
*.aux
Master_Project/Report/future_work.aux
*.log
*.gz
*.dvi
*.log
*.toc
*.aux
*.lof
*.lot
